@import '../../style/vars.scss';

.unlock{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 148px;
}

.unlock__block{
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
}

.unlock__button{
    max-width: 266px;
}

.unlock__title{
    text-align: start;
    align-items: start;

    & p{
        text-align: start;
        min-width: 500px;
        line-height: 150%;
    }

    & h1{
        line-height: 120%;
    }
}