@import '../../style/vars';

.header{
    border-bottom: 1px solid $primary-color-green-dark;
}

.header__content{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    max-width: 75.5vw;
    margin: 24px auto;
}

.header__nav{
    display: flex;
    gap: 56px;
}

.header__nav-item{
    color: $primary-color-white-dark;
    font-size: 2rem;
}