// DARK
$primary-color-dark-dark: #080808;
$primary-color-white-dark: #EFECE6;
$primary-color-grey-dark: #BABABA;
$primary-color-green-dark: #048C80;

$accent-color-grey-dark: #333333;
$secondary-color-grey-dark: #737373;

//BUTTON
$button-border-white: #048C80;
$button-background-white: #EFECE6;

$button-background-linear-first-black: #017373;
$button-background-linear-second-black: #AAD9D1;

// PRICELIST CARD
$pricelist-background-white: #F7F7F7;
$pricelist-background-dark: #080808;