// DARK
$primary-color-dark-dark: #080808;
$primary-color-white-dark: #EFECE6;
$primary-color-grey-dark: #BABABA;
$primary-color-green-dark: #048C80;

$accent-color-grey-dark: #333333;
$secondary-color-grey-dark: #737373
