@import '../../style/vars';

.runner{
    position: relative;
    display: flex;
}

.runner__content{
    display: flex;
    gap: 80px;
    width: 75.5vw;
    justify-content: end;
    animation: run 30s linear infinite;
}

@keyframes run {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(50%);
    }
    
}