@import '../style/vars.scss';

body{
    background-color: $primary-color-dark-dark;
}

.main{
    max-width: 70vw;
    margin: 0 auto;
}

.hero__quote{
    margin: 134px auto 64px auto;
}

.discover__quote{
    margin: 134px auto 64px auto;    
}

.price__quote{
    margin: 134px auto 64px auto;    
}