@import '../style/vars.scss';

body{
    background-color: $primary-color-dark-dark;
}

.main{
    max-width: 1280px;
    margin: 0 auto;
}

.hero__quote{
    margin-top: 134px;
    justify-content: center;
}

.discover__quote{
    margin: 134px auto 64px auto;    
}

.price__quote{
    margin: 134px auto 64px auto;    
}

.popup__quote{
    margin: 160px auto 64px auto;  
}

.unlock__quote{
    margin: 160px auto 64px auto;
}